/*Reset http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object { display:block; }
body { line-height: 1; }
abbr[title], dfn[title] { border-bottom:1px dotted #ccc; cursor:help; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
cite {font-style:normal; }
:focus { outline: 0; }
abbr, acronym { cursor : help; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
th, td { vertical-align: top; }

/* Helvetica/Gill sans based sans-serif stack */
.sans-serif {font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; }

/* general mixins*/
.br-standard {border-radius:6px;}
.border-bottom-dotted {border-bottom:1px dotted @fontlink;}

@black: #000;
@white: #fff;
@green: #788C8C;
@darkgreen: #4e7070;
@bordergrey: #eee;
@bgcolour: #EAE9D2;

/*font colour*/
@fontbody: #333;
@fontpink: #d95639;
@fontlink: #003a3a;
@fontlinkhover: #002D2C;
@heading: #355958;
@headinglink: #002D2C;

@baseline: 1.2857em;

/*
column setup 
12 column grid at 960
60px with 10px gutters
*/
@span1: 6.25%; /*60px/960px*100*/
@span2: 14.583333333%; /*140px/960px*100*/
@span3: 22.916666667%; /*220px/960px*100*/
@span4: 31.25%; /*300px/960px*100*/
@span5: 39.583333333%; /*380px/960px*100*/
@span6: 47.916666667%; /*460px/960px*100*/
@span7: 56.25%; /*540px/960px*100*/
@span8: 64.583333333%; /*620px/960px*100*/
@span9: 72.916666667%; /*700px/960px*100*/
@span10: 81.25%; /*780px/960px*100*/
@span11: 89.583333333%; /*860px/960px*100*/
@span12: 97.916666667%; /*940px/960px*100*/

.row { overflow:hidden; position:relative; zoom:1; margin:0 auto; }
.col { float:left; margin:0 1.0416667% 18px 1.0416667%; } /*margin is 10px/960*100 for percentage*/

/*html body*/
html {-webkit-text-size-adjust:none; }
body { font-weight:normal; font-size:87.5%; line-height:@baseline/*1.2857em*/; /*(14px/18px)*/ .sans-serif; color:@fontbody; }

/*headings*/
h1,h2,h3,h4,h5,h6 { margin-bottom:18px; line-height:18px; font-weight:normal; color:@heading; }
h1 { font-size:24px; line-height:28px; margin-bottom:18px;}
h2 { font-size:22px; line-height:24px; margin-bottom:18px;}
h3 { font-size:20px; line-height:22px; margin-bottom:18px;}
h4 { font-size:18px; }
h5 { font-size:16px; }
h6 { font-size:14px; }
small {	font-size:12px; } large { font-size:18px; } 
.highlight,
.highlight a { color:@fontpink;}
.highlight a,
.highlight a:hover { text-decoration:underline;}

/*Type/Lists*/
::-webkit-selection { background:#eee; color:#000; text-shadow:none; }
::-moz-selection { background:#eee; color:#000; text-shadow:none; }
::selection { background:#eee; color:#000; text-shadow:none; }

#mainsection img,
#mainsection object, 
#mainsection video { border:0; max-width:100%; }
img { border:0; -ms-interpolation-mode: bicubic; vertical-align:middle;}
.ie7 img { -ms-interpolation-mode: bicubic; }

/*defualt image treatment*/
#maincontent img { border:1px solid @green; background:#fff; border-radius:4px; margin-bottom:9px; }
#maincontent a:hover img { border-color:@darkgreen; box-shadow:2px 2px 6px rgba(0,0,0,.25);}
.imgoverride {border:0; background:none; border-radius:0; margin-bottom:0;}


ol, ul, dl, p { margin-bottom:18px;}
#maincontent ul { list-style:bullet outside; padding:0 0 0 25px; }
#maincontent ol { list-style:decimal outside; padding:0 0 0 25px; }
#maincontent ul li,
#maincontent ol li { padding-left:5px; margin-bottom:8px; }
dt, th { font-weight:bold; }
dd { margin:0; font-weight:normal; }

a { text-decoration:none; color:@fontlink; cursor:pointer; }
a:hover { text-decoration:none; color:@fontlinkhover; }

/*blockquote*/
blockquote { color:@darkgreen; font-style:italic; padding:0 25px; margin:0 0 18px 10px; }
blockquote cite { color:@black;}

/*Layout*/
.wrapper { position:relative; margin:0 auto; clear:both; height:1%; padding:0; overflow:hidden; zoom:1; }
.wrapper:after { content: "."; display:block; clear:both; width:0; height:0; visibility:hidden; }

#branding {background:url(../img/menus/breakline.png) 60% 100% repeat-x; }
#branding-logo { text-indent:-99999px; display:block; line-height:92px; margin-bottom:18px; }
#branding-logo a { 
	display:block; line-height:92px; margin:10% auto; 
	background: url(../img/logos/chateau.png) 50% 50% no-repeat;
	background: none, url(../img/logos/chateau.svg) 50% 50% no-repeat;

	@media screen and (min-width:1px) and (max-width:400px) { width:85%; background-size:100% auto;  }
	@media screen and (min-width:401px) { width:362px; height:92px; position:relative; display:block;}
	@media screen and (min-width:580px) { margin:5% auto; }
	@media screen and (min-width:760px) { margin:@baseline auto;}
}

#branding-strapline { text-align:center; font-size:18px; padding:18px 10%; margin:0; background:url(../img/menus/breakline.png) 0 0 repeat-x; }

#mainsection { overflow:hidden; position:relative; zoom:1; margin:0 auto 18px auto; width:@span12; }

#mainsection #navigation { overflow:hidden; position:relative; zoom:1; margin:@baseline auto @baseline*2 auto; }
#mainsection #navigation ul { position:relative; text-align:center; padding:0; margin:0 auto; }
#mainsection #navigation li { position:relative; display:inline-block; margin:0; padding:0; width:80%;}
#mainsection #navigation li a { display:block; margin:0; font-size:14px; text-align:center; padding:6px 0 14px 0; background:url(../img/menus/breakline.png) 30% 100% repeat-x; font-weight:bold; }
#mainsection #navigation li:nth-child(even) a { background-position:100% 100%; }
#mainsection #navigation li:hover a,
#mainsection #navigation li.active a { color:@fontlinkhover; text-decoration:none; }

#leader {overflow:hidden; position:relative; zoom:1; margin:0 auto @baseline auto; text-align:center; width:90%; clear:both;}
#maincontent #leader { width:100%;}
#maincontent #leader img { margin-bottom:0;}
#mainsection .flexslider ul,
#mainsection .flexslider ol,
#mainsection .flexslider li { list-style:none; margin:0; padding:0;}

#mainsection .flexslider ol.thumbs { position:relative; width:100%; margin-top:18px; }
#mainsection .flexslider ol.thumbs li { width:100px; max-width:100%; margin:0 8px 12px 8px; display:inline-block;}
#leader-cover { background:url(../img/bg/leadercover2.png) 50% 0 no-repeat; background-size:100% 100%; position:absolute; width:101%; height:100%; top:0; left:-1px; text-indent:-99999px; }

@media screen and (min-width:960px) {
#mainsection .flexslider ol.thumbs li {float:left; } 
}
@media screen and (max-width:1060px) { 
#maincontent #leader .slides img { width:95%; padding:4px;}
.contentpage #leader-cover { display:none;}
}
@media screen and (min-width:1061px) { 
#mainsection .flexslider ol.thumbs { margin-top:9px;}
#mainsection .flexslider ol.thumbs li { margin:0 11px 12px 0px;}
#mainsection .flexslider ol.thumbs li:last-child { margin-right:0;}
.contentpage #leader-cover { background:url(../img/bg/leadercover3.png) 50% 0 no-repeat; background-size:100% 100%; position:absolute; width:670px; height:377px; top:0; left:0; text-indent:-99999px; }
#maincontent #leader .slides img {.imgoverride;}
}

#maincontent  { width:90%; margin:0 auto; }
.maincontent-content,
.maincontent-aside,
.contentpage .maincontent-content,
.contentpage .maincontent-aside  { width:@span12; }

#maincontent ul.listing { list-style:none; margin:0; padding:0;}
#maincontent ul.listing li { padding:0; width:100%; float:left; clear:both;}
#maincontent ul.listing li .listing-date { display:block; margin-bottom:5px;}
#maincontent ul.listing li h4 { width:100%; margin-bottom:0;}
#maincontent ul.listing li h4 span { display:block; margin-bottom:8px;}
#maincontent ul.listing li h4 img { clear:both;
	@media screen and (min-width:450px) { float:left; margin:0 20px 10px 0;}
}
#maincontent ul.listing li h4 a:hover span { text-decoration:underline;}
#maincontent ul.listing p { margin-bottom:12px;}
.contentpage #maincontent .maincontent-aside-section .listing li h4 img { float:none;}

#maincontent .maincontent-content-section ul.listing li h4 { margin-bottom:12px;}
#maincontent .maincontent-content-section ul.listing li h4 img { margin-top:4px;}

#footer { width:90%; }
#footer p { margin-bottom:8px; }
.icocontact {
	@media screen and (min-width:961px) { background-position: 0 50%; background-repeat:no-repeat; height:20px; line-height:20px; padding-left:30px; overflow:hidden; zoom:1; position:relative; margin-left:10px;}
}

.footer-social { overflow:hidden; zoom:1; margin-top:@baseline*2;  
	@media screen and (min-width:961px) { position:absolute; width:160px; top:0; right:0; margin-top:0;}
}
.social a { width:40px; height:40px; float:left; display:inline-block; line-height:40px; margin:0 10px 0 0; background-position:50% 50%; background-repeat:no-repeat; text-indent:-99999px; }
#twitter a { background-image:url(../img/icons/social-twitter.png); }
#facebook a { background-image:url(../img/icons/social-facebook.png); }
#tripadvisor a { background-image:url(../img/icons/social-trip.png); }

@media screen and (min-width:960px) {
.tel {background-image:url(../img/icons/phone.png); padding:0 4px 0 30px;}
.email {background-image:url(../img/icons/email.png); float:left; margin-right:25px; }
.icocontact.post {background-image:url(../img/icons/post.png); float:left; }
#footer .col { width:@span12;}
}

.tel span { 
	@media screen and (max-width:960px) { clear:both; float:left; width:100%;}
}

.tel a { cursor:text; color:@fontbody;}

.divide { 
	@media screen and (max-width:960px) { display:none; padding:0;}
	padding:0 8px;
}


/*forms*/
input, select { vertical-align:middle; }
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; *vertical-align:baseline; }
input[type=button], input[type=submit], button { cursor:pointer; }
button { width:auto; overflow:visible; }

.form-text, textarea {padding:6px 8px; font-size:12px; border:1px solid #ccc; color:#000; margin:0 0 18px 0; width:200px; .br-standard; }
.form-text:focus, textarea:focus { background:#eee; color:#333;}
.form-submit { background:@green; display:inline-block; padding:6px 8px; font-size:12px; color:#fff; font-weight:bold; cursor:pointer; clear:left; margin-bottom:18px; -webkit-appearance:none; border:none; .br-standard;}
.form-submit:hover { background:@darkgreen; }

.general-form label { display:block; margin-bottom:8px;}
.general-form textarea { padding: 15px;}
.general-form .form-text:hover, 
.general-form .form-text:focus, 
.general-form textarea:hover, 
.general-form textarea:focus { border-color: #ddd; }

/*tables*/
table { border-collapse:collapse; border-spacing:none; margin-bottom:@baseline; }
tbody { border-top:none;}
thead th { color:#fff;}
tr th { font-weight:bold; text-transform:uppercase; background:@darkgreen; padding:8px 12px; text-align:left; border:1px solid #ccc;}
tr td { border:1px solid #ccc; padding:8px 12px; vertical-align:top; }

/* ie */
.ie6 input { vertical-align:text-middle; }
.ie7 img { -ms-interpolation-mode: bicubic; }

@media screen and (min-width:760px) { 
#mainsection #navigation ul { margin:0 auto; width:60%; text-align:center; }
#mainsection #navigation li { width:auto; margin:8px 6px; padding:0; }
#mainsection #navigation li a { background:none; padding:0; display:inline-block; border:1px solid @green; padding:8px 14px; .br-standard;}
#mainsection #navigation li:hover a { background:@bgcolour; }
#mainsection #navigation li.active a { background:@green; color:#fff; }
}

@media screen and (min-width:960px) { 
body {

	background: @bgcolour url(../img/bg/ornate.png) 60% 0 repeat;
	background: none, @bgcolour url(../img/bg/ornate.svg) 60% 0 repeat;
}

.wrapper { width:70em/*980px/14px*/; max-width:95%; }
.ie7 .wrapper { width:70em!important; max-width:100%;}
#holdme { margin:0 auto;
background-image: url(../img/bg/border-left.png), url(../img/bg/border-right.png); 
background-position: 0 0, 100% 0; 
background-repeat: repeat-y, repeat-y;
}
.no-multiplebgs #holdme { background:#fff;}

#branding { width:@span12;}

#mainsection #navigation { margin-bottom:@baseline;}
#mainsection #navigation ul { width:@span12; }
#leader { width:95.83%; margin-bottom:@baseline;}
.contentpage #leader { float:left; margin-bottom:@baseline;}

#maincontent {width:95%; padding-bottom:220px;}
.contentpage #maincontent { margin-top:@baseline;}

.maincontent-content { width:@span8;}
.maincontent-content-section {width:@span12; overflow:hidden; zoom:1; position:relative;}

.maincontent-aside { width:@span4; margin-top:4px;}
.maincontent-aside-section {width:100%; overflow:hidden; zoom:1; position:relative; margin-bottom:@baseline;}

.contentpage .maincontent-content { width:@span9;}
.contentpage .maincontent-aside { width:@span3; margin-top:14px;}


#maincontent.birds {
	background: url(../img/bg/ill-birds.png) 50% 100% no-repeat;
	background: none, url(../img/bg/ill-birds.svg) 50% 100% no-repeat;
	background-size:100% auto;
	}
#maincontent.house {
	background: url(../img/bg/ill-house.png) 50% 100% no-repeat;
	background: none, url(../img/bg/ill-house.svg) 50% 100% no-repeat;
	background-size:100% auto;
	}
#maincontent.market {
	background: url(../img/bg/ill-market.png) 50% 100% no-repeat;
	background: none, url(../img/bg/ill-market.svg) 50% 100% no-repeat;
	background-size:100% auto;
	}
#maincontent.housebird {
	background: url(../img/bg/ill-birds.housebird) 50% 100% no-repeat;
	background: none, url(../img/bg/ill-housebird.svg) 50% 100% no-repeat;
	background-size:100% auto;
	}
	
#footer { width:@span12; margin-top:@baseline*2;}	
}
